<div class="navbar-default sidebar topnav" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
                      <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Entity Training<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                     <li>
                        <a ui-sref="dashboard.training({type:'person'})">Person</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.training({type:'organization'})">Organization</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.training({type:'money'})">Money</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.training({type:'date'})">Date time</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-sitemap fa-fw"></i> Test Simulation<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                      <li>
                        <a ui-sref="dashboard.testing({type:'person'})">Person</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.testing({type:'date'})">Date</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.testing({type:'money'})">Money</a>
                    </li>
                     <li>
                        <a ui-sref="dashboard.testing({type:'organization'})">Organization</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
			<li ng-class="{active: collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-sitemap fa-fw"></i> Document Section<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li>
                        <a href="">Upload Docs</a>
                    </li>
           </ul>
                <!-- /.nav-second-level -->
            </li>
			
			<li ng-class="{active: collapseVar==5}">
                <a href="" ng-click="check(5)"><i class="fa fa-sitemap fa-fw"></i> Analysis<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                    <li>
                        <a ui-sref="dashboard.analysis({type:'person'})">Analyze Sentence</a>
                    </li>
           </ul>
                <!-- /.nav-second-level -->
            </li>
			
			
			
            <!-- <li ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                    </li>
                    <li>
                        <a ui-sref="login">Login Page</a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
